@import "./utils/variables";
@import "./utils/base";
@import "./utils/hidden";
@import "./utils/mixins";
@import "./utils/placeholders";

@import "./layouts/container";
@import "./layouts/backdrop";

@import "./components/header";
@import "./components/logo";
@import "./components/hero";
@import "./components/features";
@import "./components/title";
@import "./components/work";
@import "./components/team";
@import "./components/social-icons";
@import "./components/icon-wrapper";
@import "./components/clients";
@import "./components/filter";
@import "./components/projects";
@import "./components/footer";
@import "./components/modal";
@import "./components/modal-form";
@import "./components/modal-checker";
