:root {
  --title-collor: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --primary-white: #ffffff;
  --secondery-bg: #2f303a;
  --team-bg-cl: #f5f4fa;
  --btn-filter-cl: #f5f4fa;
  --footer-contacts-cl: #ffffff99;

  --br-input-cl: #ffffff4d;
  --br-input-modal: #21212133;
  --input-cl: #ffffff99;

  --bg-icon-greey: #ffffff1a;
  --bg-stick-cl: #2f303acc;
  --backdrop-cl: #00000033;
  --fill-social-icons: #afb1b8;

  --accent-hover-btn: #188ce8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --set-indent: 30px;
  --set-item: 3;
}
