.clients {

  &__block {
    margin-top: 50px;
    --set-item: 2;

    @media (min-width: 768px) {
      --set-item: 3;
    }

    @media (min-width: 1200px) {
      --set-item: 6;
    }
  }
}

.client-link {
  @extend %centreFlex;
  height: 92px;
  color: var(--fill-social-icons);
  border: 1px solid var(--fill-social-icons);
  border-radius: 4px;
  fill: currentColor;

  transition: fill 250ms var(--timing-function),
    border 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
