.mobile-button {
	@extend %centreFlex;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
 
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 100;
	transition: fill 250ms var(--timing-function);
 
	&:hover {
	  fill: var(--accent-color);
	}
 
	@media screen and (min-width: 768px) {
	  display: none;
	}
 }
 
 .icon-cross {
	display: none;
 }
 
 .mobile-button.is-open .icon-cross {
	display: block;
 }
 
 .mobile-button.is-open .icon-burger {
	display: none;
 }
 
 .mobile-container {
	background-color: var(--primary-white);
 
	@media screen and (max-width: 767px) {
	  display: none;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100vw;
	 padding: 48px 39px;
 
	  &.is-open {
		 display: block;   
	  }
	}
 
	@media screen and (min-width: 768px) {
	  display: flex;
	  flex-grow: 1;
	  align-items: center;
	  gap: 84px;
	}
 }
 
 .mobile-links {
	display: flex;
	flex-wrap: wrap;

	@media screen and (min-width: 768px) {
	  display: none;
	}
 }
 
 .mobile-links__item {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	margin-top: 64px;
	padding: 0 10px;
	color: var(--accent-color);
	cursor: pointer;
 
	&:first-child {
	  padding-left: 0;
	}
 
	&:not(:last-child) {
	  border-right: 1px solid rgba(33, 33, 33, 0.2);
	}
 }
 