.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  overflow: auto;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

  border-radius: 4px;
  background-color: var(--primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    @extend %centreFlex;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: var(--primary-white);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: border-color 250ms var(--timing-function);

    &:hover {
      border-color: var(--accent-color);
    }
  }

  &__close-icon {
    width: 12px;
    height: 12px;
    fill: inherit;
    transition: fill 250ms var(--timing-function);

    .modal__close-btn:hover &,
    .modal__close-btn:focus & {
      fill: var(--accent-color);
    }
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-collor);
  }
}
