.modal-checker {
  position: relative;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 24px;

  &__custom {
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;

    transition: background-color 250ms var(--timing-function);

    .modal-checker__def:checked + & {
      border-color: var(--accent-color);
      background-color: var(--accent-color);
    }
    .modal-checker__def:focus + & {
      border: 2px solid var(--accent-color);
    }
  }

  &__contract {
    display: inline-block;
    color: var(--accent-color);
  }
}
