.work {
  @include section(0);

  &__block {
    margin-top: 50px;
  }
  &__item {
    position: relative;
  }

  &__sticker {
    position: absolute;
    bottom: 0;
    left: 0;
    @extend %centreFlex;
    min-height: 70px;
    width: 100%;

    background-color: var(--bg-stick-cl);
  }

  &__description {
    padding: 20px;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary-white);
  }
}
